.layoutContainer {
	margin: 20px 20px 20px 20px;
	border: 0;
	background-color: #5abc67;
	border-radius: 3px 3px 8px 8px;
}

.contentHeaderContainer {
	width: 100%;
	background: linear-gradient(#eee 10%, silver);
	padding: 10px;
}

.contentHeader {
	height: 49px;
	background: white;
}

.contentHeader img {
	margin-bottom:-4px;
}

.contentHeader h1 {
	font-family: var(--font-mono);
	overflow:hidden;
	display:inline-block;
	font-size: 43px;
	font-weight: bold;
	margin-bottom: -4px;
	margin-left: 20px;
}

.contentAreaContainer {
	padding: 0 18px 18px 18px;
}

.contentArea {
	min-height: 400px;
	background-color: white;
	border-radius: 0 0 3px 3px;
	padding: 10px;
}